$white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #16a34a;
  padding: 3.4rem;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.6rem;
    color: $white;
  }
}

main {
  width: 1200px;
  margin: auto;
  background-color: rgb(198, 198, 198);
}

article {
  padding: 2rem;
  background-color: rgb(155, 155, 155);
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
}

footer {
  background-color: rgb(65, 65, 65);
  color: $white;
}
